.page {
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "aside-right"
    "footer";
}

.site-header {
    grid-area: header;
    background-color: blue;
}

.site-main {
    grid-area: main;
    background-color: red;
}

.site-aside-left {
    grid-area: aside;
    background-color: lightgreen;
}

.site-aside-right {
    grid-area: aside-right;
    background-color: green;
}

.site-footer {
    grid-area: footer;
    background-color: yellow;
}

img {
    height: 100%;
    width: 100%;
}

@media (min-width: 1024px) {
    .page {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
        "header header header"
        "aside main aside-right"
        "footer footer footer";
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .product-card img{
        height: 100%;
        width: 100%;
    }
}